<link href="../styles/style.css" rel="stylesheet">
<div  class="search-bar">

    <form action="/artist-search" method="GET">


        <label for="artist-search"></label>
        <input type="text" name="artist" id="artist" placeholder="artist"/>
        <button type="submit">Search for an Artist</button>


</form>
</div>
